:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --white-background: #FFFFFF;
    --blue-accent: #2196F3;
    --grey-text: #757575;
    --black-logo: #000000;
    --black-title-text: #212121;
    --solutions-background: #2F303A;
}

body {
    font-family: var(--main-font);
    background-color: var(--white-background);
    color: var(--grey-text);
    max-width: 1600px;
    margin: 0px auto;
}

.main {
    width: 1170px;
    height: 1360px;
    margin-top: 94px;
    margin-left: 215px;
    margin-right: 216px;
}

/* Header */
.menu {
    color: var(--black-logo);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.menu:hover,
.menu:focus {
    color: var(--blue-accent)
}

.header-contact {
    color: var(--grey-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.header-contact:hover,
.header-contact:focus {
    color: var(--blue-accent)
}

.header-logo {
    font-family: var(--secondary-font);
    color: var(--black-logo);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.in-logo {
    color: var(--blue-accent);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    margin-left: 200px;
    padding-left: 15px;
}

.section {
    width: 1170px;
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0;
}

.border-header {
    border-bottom: 1px solid;
    border-color: var(--grey-text);
}

.header-description {
    padding: 24px 15px 25px 15;
}

.header-section {
    width: 1170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.navigation-description {
    margin-left: 93px;
}

.main-menu {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 46px;
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 0;
    margin-left: 356px;
}
/* filters */

.filters-list {
    width: 572px;
    height: 54px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
    margin-left: 514px;
    margin-right: 514px;
    background-color: #000000;
}

.button-filters {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
}

.button-filters:hover,
.button-filters:focus {
    color: var(--white-background);
    background-color: var(--blue-accent);
}

.section-list {
    width: 1170px;
    height: 1360px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    background-color: #2196F3;
    margin-left: 215px;
    margin-right: 215px;
   
}

.list-item {
    flex-basis: calc((100%-60px)/3);
    width: 370px;
    height: 404px;
    background-color: var(--white-background);
    border: 1px solid #EEEEEE;
}

.list-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--black-title-text);
}

.list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--grey-text);
}



/* footer */

.section-footer {
    width: 1600px;
    height: 252px;
    background-color: #2F303A;
    padding-top: 60px;
    padding-left: 215px;
}

.footer-list {
    list-style: none;
}

.link-logo-footer {
    width: max-content;
    height: 31px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--white-background);
}

.web {
    color: var(--blue-accent);
}

.adress-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--white-background);
}

.link-mail-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--grey-text);
}

.link-phone-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--grey-text);
}







